@inject SignInManager<GolfioUser> _singInManager;
@inject IAuthorizationService _authService;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
  string fullName = HttpContextAccessor.HttpContext.Session.GetString("FullName");
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - ChannelAdvisor</title>
  <script src="https://kit.fontawesome.com/84813265a8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="bg-dark text-light">
  @if (_singInManager.IsSignedIn(User))
  {
    <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
        <div class="container">
          <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ChannelAdvisor</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
              <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
              </li>
              @if ((await _authService.AuthorizeAsync(User, "Admin")).Succeeded)
              {
                <li class="nav-item">
                  <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                </li>
              }
            </ul>
          </div>

          <ul class="navbar-nav ml-auto">   
            <li class="nav-item">
              <a class="nav-link text-white mr-3">@fullName</a>
            </li>
            <li class="nav-item">
              <form asp-controller="Account" asp-action="Logout" method="POST">
                <button type="submit" class="btn btn-secondary text-white">
                  Logout
                </button>
              </form>
            </li>
          </ul>

        </div>
      </nav>
    </header>
  }

  <div class="px-3">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2019 - ChannelAdvisor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  
  @RenderSection("scripts", required: false)
</body>

</html>