@model List<Product>

@{
  ViewData["Title"] = "Home Page";
}

<div class="container">
  <form asp-action="NoSales" method="POST">
    <button type="submit" class="btn btn-primary">No Sales</button>
  </form>
</div>
