@model List<Product>
@inject IAuthorizationService _authService

@{
  ViewData["Title"] = "Home Page";
}

@if ((await _authService.AuthorizeAsync(User, ClaimType.NoSale.ToString())).Succeeded)
{
  <div class="container">
    <form asp-controller="ChannelAdvisor" asp-action="NoSales" method="POST">
      <button type="submit" class="btn btn-primary">No Sales</button>
    </form>
  </div>
}
